h1{
  padding-top: 120px;
  text-align: center;
  color: 	#3a3737;
  font-weight: bold;

}
h4{
  text-align: center;
  text-decoration: none;
}
h5{
  text-align: center;
  color: #3a3737;
}
p{
  font-weight: bold;
  font-family: sans-serif;
}
body {
    background: #eee;
    background-image: url("static/images/ujirani.jpeg");

  }
